<!--A Design by W3layouts
   Author: W3layout
   Author URL: http://w3layouts.com
   License: Creative Commons Attribution 3.0 Unported
   License URL: http://creativecommons.org/licenses/by/3.0/
   -->
   {% extends 'layout.html' %}
{% load static %}
{% block content %}
<style>
    p{
      color:black;
      font-weight: bold;
      text-align: justify;
        line-height: 1.2;
    }
     .title{
        font-size: 60px;
        color: #062dab;
        font-weight: bold;
    }
</style>
      <!-- page details -->
     <!-- about -->
     <section class="contact py-lg-4 py-md-3 py-sm-3 py-3" id="contact">
      <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
         <h3 class="title text-center mb-md-4 mb-sm-3 mb-3 mb-2 ">About Us</h3>
         <div class="title-wls-text text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">
            <p class="text-dark">
               "Welcome to our premier hiring platform, where talent meets opportunity effortlessly. Our website is designed to revolutionize the recruitment process, offering a seamless experience for both employers and job seekers alike. With advanced search algorithms and customizable filters, employers can swiftly pinpoint the perfect candidates for their roles, while job seekers can explore a myriad of career opportunities tailored to their skills and preferences. Our intuitive interface ensures smooth navigation, making it easy for users to create profiles, upload resumes, and connect with potential employers or employees. Whether you're a multinational corporation seeking top-tier talent or an individual embarking on a new career journey, our platform is your gateway to success in the ever-evolving job market."            </p>
         </div>
        
         <div class="row mt-lg-5 mt-md-4 mt-3">
          
            <div class="col-lg-6 col-md-6 col-sm-6 address-grid">
               <div class="row address-contact-form">
                  <div class="col-lg-3 col-md-4 col-sm-4">
                   
                  </div>
                
               </div>
               <div class="row address-contact-form mt-lg-4 mt-3">
                  <div class="col-lg-3 col-md-4 col-sm-4">
                     
                  </div>
                 
               </div>
              
            </div>
         </div>
      </div>
   </section>
      <!--//about -->
      <!-- bussiness-tip -->
    
      <!-- //team -->
      <!-- footer -->


{% endblock %}