
{% extends 'layout.html' %}
{% load static %}
{% block content %}
<style>
   p{
      color: white;
     font-weight: bold;
     text-align: justify;
        line-height: 1.5; /* Adjust this value as needed for more or less line spacing */

         
   }  
   .title{
        font-size: 60px;
        color: #062dab;
        font-weight: bold;
    }
</style>
      <!-- page details -->
    
      <!-- //page details -->
      <!--contact -->
      <section class="contact py-lg-4 py-md-3 py-sm-3 py-3" id="contact">
         <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
            <h3 class="title text-center mb-md-4 mb-sm-3 mb-3 mb-2">contact Us</h3>
            <div class="title-wls-text text-center mb-lg-12 mb-md-4 mb-sm-4 mb-3">
               <p class="text-dark

               ">
                  "Got questions, feedback, or just want to say hello? We'd love to hear from you! Our dedicated support team is here to assist you with any inquiries or concerns you may have. Feel free to reach out to us via email at <a href="mailto:support@example.com">support@example.com</a> or through our convenient online contact form below. We strive to respond promptly to all messages and are committed to ensuring your experience on our platform is nothing short of exceptional. Your satisfaction is our priority, and we're here to help every step of the way. Let's connect and make your hiring journey a success!"               </p>
            </div>
           
            <div class="row mt-lg-5 mt-md-4 mt-3">
             
               <div class="col-lg-6 col-md-6 col-sm-6 address-grid">
                  <div class="row address-contact-form">
                     <div class="col-lg-3 col-md-4 col-sm-4">
                      
                     </div>
                   
                  </div>
                  <div class="row address-contact-form mt-lg-4 mt-3">
                     <div class="col-lg-3 col-md-4 col-sm-4">
                        
                     </div>
                    
                  </div>
                 
               </div>
            </div>
         </div>
      </section>
      <!--// contact -->
      <!-- footer -->
     {% endblock %}