{% extends 'layout.html' %}
{% load static %}
{% block content %}
<style>
    label,div{
        color:white;
    }
    .title{
        font-size: 60px;
        color:  #062dab;
        font-weight: bold;
    }
    label{
      color:black;
    }
    button.btn-primary{
      width:80%;
      margin-top:80px;
      height: 65px;
      border-radius: 30px;
      font-size: 30px;
      
    }
    .reg-btn{
      margin-left: 360px;
      width: 40%;
    }
</style>
<section class="contact py-lg-4 py-md-3 py-sm-3 py-3" id="contact">
    <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
       <h3 class="title text-center ">user Requests</h3>
      
       <div class="contact-details reg-btn">
   <a href="/usersreq/2">  <button  class="btn-primary">Company</button></a>
   <a href="/usersreq/3">  <button class="btn-primary">College</button></a>
       </div>
       <div class="row mt-lg-5 mt-md-4 mt-3">
        
          <div class="col-lg-6 col-md-6 col-sm-6 address-grid">
             <div class="row address-contact-form">
                <div class="col-lg-3 col-md-4 col-sm-4">
                   <div class="footer-icon text-center">
                   </div>
                </div>
               
             </div>
             <div class="row address-contact-form mt-lg-4 mt-3">
                <div class="col-lg-3 col-md-4 col-sm-4">
                   <div class="footer-icon text-center">
                   </div>
                </div>
               
             </div>
             <div class="row address-contact-form mt-lg-4 mt-3">
                <div class="col-lg-3 col-md-4 col-sm-4">
                   <div class="footer-icon text-center">
                   </div>
                </div>
               
             </div>
          </div>
       </div>
    </div>
 </section>
{% endblock %}