
<!--A Design by W3layouts
   Author: W3layout
   Author URL: http://w3layouts.com
   License: Creative Commons Attribution 3.0 Unported
   License URL: http://creativecommons.org/licenses/by/3.0/

   -->

   
   {% extends 'layout.html' %}
   {% load static %}
   {% block content %}
   {% if messages %}
        {% for message in messages %}
           <script>
            alert('{{message}}')
           </script>
        {% endfor %}
{% endif %}
<style>
   .uline{
      text-decoration: underline;
   }
   .container{
      margin-top: 50px;
   }
   .sm-h5{
      font-size: 15px;
   }
   .sm-p{
      max-width: 310px;
      word-wrap: break-word;
      line-height: 1.2
   }
   .ser-sevice-inner:hover{
      background-color:#021343;
   }
   .title{
      color: #113dde;
      font-weight: bold;

   }
   img{
      border-radius: 50px;
   }

   
</style>
      <!-- //page details -->
      <!--service-one -->
      {% if ut == 3 %}
      <section class="service-one py-lg-4 py-md-3 py-sm-3 py-3" id="service-one">
         <div class="container py-lg-5 py-md-5 py-sm-4 py-3">
            <form method="GET" action="">
               <input type="text" name="search_query" placeholder="Search...">
               <button type="submit">Search</button>
               <a href="/users/3"><button><i class="fas fa-sync-alt"></button></i>
               </a>
            </form>
            <h3 class="title text-center mb-md-4 mb-sm-3 mb-3 mb-2 ">View College</h3>
            {% if data %}
            {% for i in  data %}

            <div class="row mt-md-4 mt-3">
               <div class="col-lg-12 col-md-6 ser-cor-grid">
                  <div class="ser-sevice-inner text-center">
                     <div class="sevice-one-inner">
                        
                       
                     </div>
                     <div class="sevice-ser-txt">
                        <div class="row">
                           <div class="col-md-3">
                              <div class="Profile-div">
                                 <img src="{{i.profile.url}}" alt="Not loaded" width="100" height="100">
                                 <h3  class="py-3 text-white">{{i.username}}</h3>
                              </div>
                           </div>
                           <div class="col-md-5">

                              <h4 class="py-3 uline">About College</h4>
                              <div class="desc-wrapper">
                                 <P class="sm-p collapsed" class="paragraph">{{i.college_desc}}</P>
                              </div>
                           </div>
                           <div class="col-md-4">

                              <h4 class="py-3 uline">Address</h4>
                              <div class="desc-wrapper">
                                <P class="sm-p collapsed" class="paragraph">{{i.address}}</P>
                             </div>
                            </div>
                          
                       </div>
                       <div class="row mt-5">
                        {% if request.session.ut == 1 %}

                        <div class="col-md-2">

                           <h4 class="py-3 uline">Certificate</h4>
                           <a href="{{i.college_certificate.url}}" target="_blank">Certificate</a>
                         </div>
                         {% endif %}
                           <div class="col-md-2">
                              <h4 class="py-3 uline">Contact</h4>
                              <h5 class="sm-h5 text-white">{{i.contact}}</h5>

                           </div>
                           <div class="col-md-2">

                              <h4 class="py-3 uline">Email</h4>
                              <h5 class="sm-h5 text-white">{{i.email}}</h5>
                            </div>
                           <div class="col-md-2">

                            <h4 class="py-3 uline">College Code</h4>
                            <h5 class="sm-h5 text-white">{{i.collegecode}}</h5>
                          </div>
                          <div class="col-md-2">

                           <h4 class="py-3 uline">Country</h4>
                           <h5 class="sm-h5 text-white">{{i.country}}</h5>
                         </div>
                         <div class="col-md-2">

                           <h4 class="py-3 uline">State</h4>
                           <h5 class="sm-h5 text-white">{{i.state}}</h5>
                         </div> 
                        
                       </div>
                       <div class="row mt-5">
                       
                        <div class="col-md-2">

                          <h4 class="py-3 uline">District</h4>
                          <h5 class="sm-h5 text-white">{{i.district}}</h5>
                        </div> <div class="col-md-2">

                          <h4 class="py-3 uline">City</h4>
                          <h5 class="sm-h5 text-white">{{i.city}}</h5>
                        </div> <div class="col-md-2">

                          <h4 class="py-3 uline">Pincode</h4>
                          <h5 class="sm-h5 text-white">{{i.pincode}}</h5>
                        </div>
                        <div class="col-md-3">

                          <h4 class="py-3 uline">College section</h4>
                          <h5 class="sm-h5 text-white">{{i.college_section}}</h5>
                        </div>
                        <div class="col-md-2">

                          <h4 class="py-3 uline">No.students</h4>
                          <h5 class="sm-h5 text-white">{{i.number_of_students}}</h5>
                        </div>
                       </div>
                    {% if request.session.ut == 1 %}

                    <div class="row">
                        <!-- <div class="col-md-6">
                           <a href="/collegeedit/{{i.id}}"> <button type="button" class="btn sent-butnn">Edit</button></a>
                        </div> -->
                        <div class="col-md-2">
                           <a href="/Deleteuser/{{i.id}}"><button type="button" class="btn sent-butnn" onclick="return confirm('Are You Sure To Delete This User?')">Delete</button></a>
                       </div>
                    </div>
                    {% endif %}

                     </div>
                  </div>
               </div>
              
              
            </div>
            {% endfor  %}
            {% else %}
            <h1>No Search Results</h1>

            {% endif %}
              
         </div>
      </section>
      {% elif ut == 2 %}
      <section class="service-one py-lg-4 py-md-3 py-sm-3 py-3" id="service-one">
         <div class="container py-lg-5 py-md-5 py-sm-4 py-3">
            <form method="GET" action="">
               <input type="text" name="search_query" placeholder="Search...">
               <button type="submit">Search</button>
               <a href="/users/2"><button><i class="fas fa-sync-alt"></button></i></a>

            </form>
            <h3 class="title text-center mb-md-4 mb-sm-3 mb-3 mb-2 ">View company </h3>
            {% if data %}
            {% for i in  data %}

            <div class="row mt-md-4 mt-3">
               <div class="col-lg-12 col-md-6 ser-cor-grid">
                  <div class="ser-sevice-inner text-center">
                     <div class="sevice-one-inner">
                       
                      
                      
                     </div>
                     <div class="sevice-ser-txt">
                        <div class="row">
                           <div class="col-md-3">
                              <div class="Profile-div" >
                                
                                 <img src="{{i.profile.url}}" alt="Not loaded" width="100" height="100">
                                 <h3  class="py-3 text-white">{{i.username}}</h3>

                              </div>
                            
                           </div>
                           <div class="col-md-4">

                              <h4 class="py-3 uline">About Company</h4>
                              <div class="desc-wrapper">
                                 <P class="sm-p collapsed" class="paragraph">{{i.company_desc}}</P>
                              </div>
                           </div>
                           <div class="col-md-4">
   
                            <h4 class="py-3 uline">Address</h4>
                            <div class="desc-wrapper">
                              <P class="sm-p collapsed" class="paragraph">{{i.address}}</P>
                           </div>
                          </div>
                         
                       </div>
                     
                       <div class="row mt-1">
                        {% if request.session.ut == 1 %}

                        <div class="col-md-3">
                           <h4 class="py-3 uline">Company Certificate</h4>

                          
                           <a href="{{i.company_certificate.url}}" target="_blank">Certificate</a>
                       </div>
                       <div class="col-md-2">
                        {% else %}
                        <div class="col-md-4">

                       {% endif %}
                          <h4 class="py-3 uline">Contact</h4>
                           <h5 class="sm-h5 text-white">{{i.contact}}</h5>

                     </div>
                     {% if request.session.ut == 1 %}
                     <div class="col-md-2">
                        {% else %}
                        <div class="col-md-3">

                        {% endif %}

                        <h4 class="py-3 uline">Email</h4>
                        <p class=" text-white mr-5">{{i.email}}</p>
                      </div>
                       <div class="col-md-2">

                        <h4 class="py-3 uline">MNC or Not</h4>
                        <div class="desc-wrapper">
                          <P class="sm-p collapsed" class="paragraph">{{i.MNC}}</P>
                       </div>
                      </div>
                      <div class="col-md-3">

                        <h4 class="py-3 uline">Company Licenceid</h4>
                        <div class="desc-wrapper">
                          <P class="sm-p collapsed" class="paragraph">{{i.companyLicenceid}}</P>
                       </div>
                      </div>
                       
                    </div>
                    <div class="row mt-5">
                     <div class="col-md-3">

                        <h4 class="py-3 uline">Country</h4>
                        <div class="desc-wrapper">
                           <P class="sm-p collapsed" class="paragraph">{{i.country}}</P>
                        </div>
                     </div>
                     <div class="col-md-2">

                      <h4 class="py-3 uline">State</h4>
                      <div class="desc-wrapper">
                        <P class="sm-p collapsed" class="paragraph">{{i.state}}</P>
                     </div>
                    </div>
                    <div class="col-md-2">

                     <h4 class="py-3 uline">District</h4>
                     <div class="desc-wrapper">
                       <P class="sm-p collapsed" class="paragraph">{{i.district}}</P>
                    </div>
                   </div>
                   <div class="col-md-2">

                     <h4 class="py-3 uline">city</h4>
                     <div class="desc-wrapper">
                       <P class="sm-p collapsed" class="paragraph">{{i.city}}</P>
                    </div>
                   </div>
                   <div class="col-md-2">

                     <h4 class="py-3 uline">Pin</h4>
                     <div class="desc-wrapper">
                       <P class="sm-p collapsed" class="paragraph">{{i.pincode}}</P>
                    </div>
                   </div>
                    
                 </div>
                   
                    
                    
                 {% if request.session.ut == 3 %}
                 <div class="row">
                  <div class="col-md-10 mx-auto">

                     <a href="/crequest/{{i.id}}" onclick="return confirm('Are You Sure To Send Requests')"> <button type="button" class="btn sent-butnn">Send Request</button></a>


                  </div>
                 
              </div>
                 {% endif %}
                 {% if request.session.ut == 0 %}
                 <div class="row">
                  <div class="col-md-10 mx-auto">

                     <a href="/sendrequests/{{i.id}}" onclick="return confirm('Are You Sure To Send Requests')"> <button type="button" class="btn sent-butnn">Send Visist Request</button></a>


                  </div>
                 
              </div>
                 {% endif %}

                 {% if request.session.ut == 1 %}
                    <div class="row">
                        <!-- <div class="col-md-6">
   
                           <a href="/companyedit/{{i.id}}"> <button type="button" class="btn sent-butnn">Edit</button></a>
   
   
                        </div> -->
                        <div class="col-md-2">
                           <a href="/Deleteuser/{{i.id}}"><button type="button" class="btn sent-butnn" onclick="return confirm('Are You Sure To Delete This User?')">Delete</button></a>
                       </div>
                    </div>

                    {% endif %}
                       
                     </div>
                  </div>
               </div>
             
              
              
            </div>
            {% endfor  %}
            {% else %}
            <h1>No Results</h1>

            {% endif %}
         </div>
      </section>
      {% elif ut == 0 %}
      <section class="service-one py-lg-4 py-md-3 py-sm-3 py-3" id="service-one">
         <div class="container py-lg-5 py-md-5 py-sm-4 py-3">
            <form method="GET" action="">
               <input type="text" name="search_query" placeholder="Search...">
               <button type="submit">Search</button>
               <a href="/users/0"><button><i class="fas fa-sync-alt"></button></i></a>

            </form>
            <h3 class="title text-center mb-md-4 mb-sm-3 mb-3 mb-2 ">View Job Seakers</h3>
            {% for i in  data %}

            <div class="row mt-md-4 mt-3">
               <div class="col-lg-12 col-md-6 ser-cor-grid">
                  <div class="ser-sevice-inner text-center">
                     <div class="sevice-one-inner">
                        
                     </div>
                     <div class="sevice-ser-txt">
                       <div class="row">
                        <div class="col-md-2">
                           <div class="Profile-div">
                              <img src="{{i.profile.url}}" alt="Not loaded" width="100" height="100">
                              <h3  class="py-3 text-white">{{i.username}}</h3>
   
                           </div>
                        </div>
                        <div class="col-md-4">

                           <h4 class="py-3 uline">qualifications</h4>
                           <div class="desc-wrapper">
                             <P class="sm-p collapsed" class="paragraph">{{i.qualifications}}</P>
                          </div>
                         </div>
                         <div class="col-md-3">

                           <h4 class="py-3 uline">About experience</h4>
                           <div class="desc-wrapper">
                              <P class="sm-p collapsed" class="paragraph">{{i.experience}}</P>
                           </div>
                        </div>
                        <div class="col-md-3">

                           <h4 class="py-3 uline">Skills</h4>
                           <div class="desc-wrapper">
                              <P class="sm-p collapsed" class="paragraph">{{i.skills}}</P>
                           </div>
                        </div>
                       </div> 
                        
                         
                       <div class="row mt-3">
                       
                        <div class="col-md-2">
                           <h4 class="py-3 uline">Resume</h4>
                                    <a href="{{i.uploadresume.url}}" target="_blank">Resume</a>
                        </div>
                        <div class="col-md-3">

                         <h4 class="py-3 uline">country</h4>
                         <h5 class="sm-h5 text-white">{{i.country}}</h5>
                       </div>
                       <div class="col-md-2">
                        <h4 class="py-3 uline">state</h4>
                        <h5 class="sm-h5 text-white">{{i.state}}</h5>

                     </div>
                     <div class="col-md-3">

                      <h4 class="py-3 uline">district</h4>
                      <h5 class="sm-h5 text-white">{{i.district}}</h5>
                    </div>
                    <div class="col-md-2">

                     <h4 class="py-3 uline">city</h4>
                     <h5 class="sm-h5 text-white">{{i.city}}</h5>
                   </div>
                  
                  </div>
                  <div class="row mt-3">
                     <div class="col-md-2">

                        <h4 class="py-3 uline">pincode</h4>
                        <h5 class="sm-h5 text-white">{{i.pincode}}</h5>
                      </div>
                     <div class="col-md-4">
                        <h4 class="py-3 uline">college_name</h4>
                        <h5 class="sm-h5 text-white">{{i.college_name}}</h5>

                     </div>
                     <div class="col-md-3">

                      <h4 class="py-3 uline">collegecode</h4>
                      <h5 class="sm-h5 text-white">{{i.collegecode}}</h5>
                    </div>
                    <div class="col-md-3">
                     <h4 class="py-3 uline">passoutyear</h4>
                     <h5 class="sm-h5 text-white">{{i.passoutyear}}</h5>

                  </div>
                 
               
               </div>
                       
                       
                  
                    
                

                   
                    {% if request.session.ut == 1 %}

                  <div class="row">
                     <!-- <div class="col-md-6">
                        <a href="/jobseakeredit/{{i.id}}"> <button type="button" class="btn sent-butnn">Edit</button></a>
                     </div> -->
                     <div class="col-md-2">
                        <a href="/Deleteuser/{{i.id}}"><button type="button" class="btn sent-butnn" onclick="return confirm('Are You Sure To Delete This User?')">Delete</button></a>
                    </div>
                    
                 </div>
                 {% endif %}

                
                       
                     </div>
                  </div>
               </div>
              
              
            </div>
            {% endfor  %}

         </div>
      </section>
      {% endif %}
      <!--// service-one -->
      <!-- service -->
    
      <!--// service -->
      <!-- price -->
      <script>
         // Select all elements with class 'paragraph'
         const paragraphs = document.querySelectorAll('.sm-p');
     
         // Loop through each paragraph
         paragraphs.forEach(paragraph => {
             const computedStyle = window.getComputedStyle(paragraph);
             const lineHeight = parseInt(computedStyle.getPropertyValue('line-height'));
             const paragraphHeight = paragraph.clientHeight;
             const numberOfLines = Math.round(paragraphHeight / lineHeight);
     
             // If the number of lines exceeds 2, hide the paragraph content
             if (numberOfLines > 1) {
                 paragraph.classList.add('collapsed'); // Add a class to indicate the paragraph is collapsed
                 paragraph.style.maxHeight = lineHeight * 1 + 'px'; // Limit height to 2 lines
                 paragraph.style.overflow = "hidden";
                 paragraph.title = "Click here To View More"; // Hide overflow
             }
     
             // Add click event listener to toggle visibility
             paragraph.addEventListener('click', function() {
                 if (this.classList.contains('collapsed')) {
                     this.style.maxHeight = 'none'; // Show full content
                     this.classList.remove('collapsed'); // Remove collapsed class
                 } else {
                     this.style.maxHeight = lineHeight * 1 + 'px'; // Limit height to 2 lines
                     this.classList.add('collapsed'); // Add collapsed class
                 }
             });
         });
     </script>
     
    
{% endblock %}