
<!--A Design by W3layouts
   Author: W3layout
   Author URL: http://w3layouts.com
   License: Creative Commons Attribution 3.0 Unported
   License URL: http://creativecommons.org/licenses/by/3.0/

   -->

   
   {% extends 'layout.html' %}
   {% load static %}
   {% block content %}
<style>
   .uline{
      text-decoration: underline;
   }
   .container{
      margin-top: 50px;
   }
   .sm-h5{
      font-size: 15px;
   }
   .sm-p{
      max-width: 310px;
      word-wrap: break-word;
      line-height: 1.2
   }
   .ser-sevice-inner:hover{
    background-color: #021343;
    
   }
   .title{
      color: #113dde;
  font-weight: bold;
   }
   img{
      border-radius:20px;
   }
</style>
      <!-- //page details -->
      <!--service-one -->
      <section class="service-one py-lg-4 py-md-3 py-sm-3 py-3" id="service-one">
         <div class="container py-lg-5 py-md-5 py-sm-4 py-3">
            <form method="GET" action="">
               <input type="text" name="search_query" placeholder="Search...">
               <button type="submit">Search</button>
               <a href="/viewjobs"><button><i class="fas fa-sync-alt"></button></i>
               </a>
            </form>
            <h3 class="title text-center mb-md-4 mb-sm-3 mb-3 mb-2 ">View Interviews</h3>
            
            <div class="row mt-md-4 mt-3">

                {% for i in  data %}
               <div class="col-lg-6 col-md-6 ser-cor-grid">
                  <div class="ser-sevice-inner text-center">
                     <div class="sevice-one-inner">
                        <div class="Profile-div">
                        </div>
                      <h3  class="py-3 text-white"><b>{{i.Company_id.username}}</b></h3>
                      <img src="{{i.Company_id.profile.url}}" alt="" width="200px" height="100px">

                      <div class="row">
                        <div class="col-md-6">
                       <h3  class="py-3 text-white">{{i.title}}</h3> 
                      </div>
                      <div class="col-md-6">

                        <h3  class="py-3 text-white">
                            {% if i.int_type == 2 %}
                            Online Interview

                            {% elif i.int_type == 3 %}
                            Offline Interview

                            {% endif %}


                        </h3>
                            </div>

                       </div>
                       <!-- <a href="{{i.college_certificate.url}}" target="_blank">Certificate</a> -->
                     </div>
                     <div class="sevice-ser-txt">
                       <div class="row">
                           <div class="col-md-6">
                              <h4 class="py-3 uline">Qualifications</h4>
                              <P class="sm-p collapsed" class="paragraph">{{i.qualification}}</p>

                           </div>
                           <div class="col-md-6">

                            <h4 class="py-3 uline">Experience</h4>

                            <div class="desc-wrapper">
                                <P class="sm-p collapsed" class="paragraph">{{i.experience}}</P>
                             </div>

                        </div>
                       </div>
                       <div class="row">
                        <div class="col-md-6">

                           <h4 class="py-3 uline">Job requirements</h4>
                           <div class="desc-wrapper">
                              <P class="sm-p collapsed" class="paragraph">{{i.jobreq}}</P>
                           </div>
                        </div>
                        <div class="col-md-6">

                         <h4 class="py-3 uline">Job description</h4>
                         <div class="desc-wrapper">
                           <P class="sm-p collapsed" class="paragraph">{{i.jobdesc}}</P>
                        </div>
                       </div>
                       
                    </div>
                    <div class="row">
                        <div class="col-md-6 ">
                           <h4 class="py-3 uline">Interview Date</h4>
                           <P class="sm-p collapsed" class="paragraph">{{i.interviewdate}}</P>

                        </div>
                        <div class="col-md-6 ">
                            <h4 class="py-3 uline">Interview Time</h4>
                            <P class="sm-p collapsed" class="paragraph">{{i.interviewtime}}</P>
 
                         </div>
                      
                     </div>
                     <div class="row">
                        <div class="col-md-6">
                           <h4 class="py-3 uline">Contact</h4>
                           <P class="sm-p collapsed" class="paragraph">{{i.Company_id.contact}}</P>

                        </div>
                        <div class="col-md-6">
                           <h4 class="py-3 uline">Email</h4>
                           <P class="sm-p collapsed" class="paragraph">{{i.Company_id.email}}</P>
                        </div>
                      
                     </div>
                     {% if i.Location %}
                     <div class="row">
                        <div class="col-md-6">
                           <h4 class="py-3 uline">Company Address</h4>
                           <P class="sm-p collapsed" class="paragraph">{{i.Company_id.address}}</P>

                        </div>
                        <div class="col-md-6">
                           <h4 class="py-3 uline">Interview Location</h4>
                           <P class="sm-p collapsed" class="paragraph"><a href="https://www.google.com/maps/search/?api=1&query={{i.Location}}" target="_blank">{{i.Location}}</a></P>

                        </div>
                      
                      
                     </div>
                     {% else %}
                     <div class="row">
                        <div class="col-md-6 mx-auto">
                           <h4 class="py-3 uline">Company Address</h4>
                           <P class="sm-p collapsed" class="paragraph">{{i.Company_id.address}}</P>

                        </div>
                       
                      
                      
                     </div>
                     {% endif %}
                   

                   {% if request.session.ut == 2 %}
                    <div class="row">
                        <div class="col-md-6">
                           <a href="/interviewedit/{{i.id}}"> <button type="button" class="btn sent-butnn">Edit</button></a>
                        </div>
                        <div class="col-md-6">
                           <a href="/deleteinterview/{{i.id}}"><button type="button" class="btn sent-butnn" onclick="return confirm('Are You Sure To Delete?')">Delete</button></a>
                       </div>
                    </div>
                    {% endif %}



                     </div>
                  </div>
               </div>
               {% endfor  %}
              
              
            </div>
         </div>
      </section>
     
      <!--// service-one -->
      <!-- service -->
    
      <!--// service -->
      <!-- price -->
      <script>
         // Select all elements with class 'paragraph'
         const paragraphs = document.querySelectorAll('.sm-p');
     
         // Loop through each paragraph
         paragraphs.forEach(paragraph => {
             const computedStyle = window.getComputedStyle(paragraph);
             const lineHeight = parseInt(computedStyle.getPropertyValue('line-height'));
             const paragraphHeight = paragraph.clientHeight;
             const numberOfLines = Math.round(paragraphHeight / lineHeight);
     
             // If the number of lines exceeds 2, hide the paragraph content
             if (numberOfLines > 1) {
                 paragraph.classList.add('collapsed'); // Add a class to indicate the paragraph is collapsed
                 paragraph.style.maxHeight = lineHeight * 1 + 'px'; // Limit height to 2 lines
                 paragraph.style.overflow = "hidden";
                 paragraph.title = "Click here To View More"; // Hide overflow
             }
     
             // Add click event listener to toggle visibility
             paragraph.addEventListener('click', function() {
                 if (this.classList.contains('collapsed')) {
                     this.style.maxHeight = 'none'; // Show full content
                     this.classList.remove('collapsed'); // Remove collapsed class
                 } else {
                     this.style.maxHeight = lineHeight * 1 + 'px'; // Limit height to 2 lines
                     this.classList.add('collapsed'); // Add collapsed class
                 }
             });
         });
     </script>
     
    
{% endblock %}